{% extends "base.html" %}

{% block content %}
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-12">
                  <div class="breadcrumb_iner">
                      <div class="breadcrumb_iner_item">
                          <p>Home / Cart</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- breadcrumb start-->

  <!--================ Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart.get("items") %}
                <form action="/cart/add/{{ item.id }}" method="POST">
                  <tr>
                    <td>
                      <div class="media">
                        <div class="d-flex">
                          <img src="{{ item.image }}" alt="{{ item.name }}" />
                        </div>
                        <div class="media-body">
                          <p>{{ item.name }}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5>$ {{ item.price }}</h5>
                    </td>
                    <td>
                      <div class="product_count">
                        <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                        <input name="quantity" class="input-number" type="text" value="{{ item.quantity }}" min="0" max="10">
                        <span class="input-number-increment"> <i class="ti-plus"></i></span>
                      </div>
                    </td>
                    <td>
                      <h5>$ {{ item.total }}</h5>
                    </td>
                    <td>
                      <button type="submit" class="btn_1">Update</button>
                    </td>
                  </tr>
                </form>
              {% endfor %}
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5>${{ cart.total }}</h5>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <form action="/cart/cancel" method="POST">
            <div class="checkout_btn_inner float-right">
              <button class="btn_1" type="submit">Close Coupon</button>
              <a class="btn_1" href="/products">Continue Shopping</a>
              <a class="btn_1 checkout_btn_1" href="/checkout">Proceed to checkout</a>
            </div>
          </form>
        </div>
      </div>
  </section>
  <!--================End Cart Area =================-->
{% endblock %}